<h1>Login page</h1>

<form action="/login" method="POST">
    <input type="text" name="username" id="username" placeholder="username">
    <input type="password" name="password" id="password" placeholder="password">
    <button>submit</button>
</form>

<li>
    <a href="/register"><h1>Sign up</h1></a>
</li>

<li>
    <a href="/login"><h1>Login</h1></a>
</li>

<li>
    <a href="/logout"><h1>logout</h1></a>
</li>